.App {
  font-family: Tahoma;
  text-align: center;
}

.conatiner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.line {
  display: flex;
  gap: 5px;
}

.letter {
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Tahoma";
  transition: all 0.3s ease-in;
}

.title {
  font-size: 26px;
  font-family: Tahoma;
  font-weight: 700;
}

.rule-square {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: uppercase;
  font-family: Tahoma;
}
.rule-square.green {
  background-color: lightgreen;
}
.rule-square.orange {
  background-color: orange;
}
.rule-square.grey {
  background-color: lightgrey;
}
.rule-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Tahoma;
  margin: 10px 0;
}
